body{
    background-color:moccasin
}

.todoitem{
    background-color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
}

.done{
    text-decoration: line-through;
}